.backgroundGradient {
    background: #20208a;
    background: linear-gradient(
        90deg,
        rgba(32, 32, 138, 1) 0%,
        rgba(0, 0, 41, 1) 100%
    );
    height: 100vh;
    width: 100vw;
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    display: grid;
}

.centerContainer {
    place-self: center;
    display: grid;
    grid-gap: 10px;
    /* border: 1px solid white; */
    justify-items: center;
    margin-top: -50px;
}

.massiveTitle {
    --spacing: 50px;
    font-weight: 100;
    font-size: 15em;
    letter-spacing: var(--spacing);
    color: white;
    /* border: 1px solid red; */
    margin-right: calc(-1 * var(--spacing));
}

.subheading {
    --spacing: 20px;
    /* --margin-top: calc(-1 * (var(--spacing) * 2 + 10px)); */
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: var(--spacing);
    /* border: 1px solid red; */
    margin-right: calc(-1 * (var(--spacing) * 1.5));
    margin-top: -50px;
    font-size: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 800px) {
    .massiveTitle {
        font-size: 15vmax;
        letter-spacing: 30px;
        margin-right: -30px;
    }

    .subheading {
        letter-spacing: 10px;
        margin-right: -10px;
        margin-top: -30px;
        font-size: 10px;
    }
}

@media screen and (max-width: 800px) {
    .massiveTitle {
        --spacing: 30px;
        font-size: 15vmax;
    }

    .subheading {
        --spacing: 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: 350px) {
    .massiveTitle {
        --spacing: 15px;
        font-size: 9vmax;
    }

    .subheading {
        --spacing: 10px;
        margin-top: unset;
        letter-spacing: 5px;
        font-size: 7px;
    }
}
